.env
deneme.py
venv

TEST2.ipynb

*financial_research_agent
clean_later.ipynb
test.ipynb
handoff.ipynb
handoff1.ipynb
handoff2.ipynb
*scrapbook
*scrapebook
mydatabase.db
data_models/__pycache__/first_question_output_format.cpython-312.pyc
data_models/__pycache__/first_question_output_format.cpython-312.pyc
data_models/__pycache__/hotel_data_models.cpython-312.pyc
data_models/__pycache__/hotel_data_models.cpython-312.pyc
helpers/__pycache__/function_tools.cpython-312.pyc
data_models/__pycache__/flight_data_models.cpython-312.pyc
helpers/__pycache__/
data_models/__pycache__/